name: 'Code Review by Gemini AI'

on:
  pull_request:
    branches:
      - dev

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v3
      - name: 'Get diff of the pull request'
        id: get_diff
        shell: bash
        env:
          PULL_REQUEST_HEAD_REF: '${{ github.event.pull_request.head.ref }}'
          PULL_REQUEST_BASE_REF: '${{ github.event.pull_request.base.ref }}'
        run: |-
          git fetch origin "${{ env.PULL_REQUEST_HEAD_REF }}"
          git fetch origin "${{ env.PULL_REQUEST_BASE_REF }}"
          git checkout "${{ env.PULL_REQUEST_HEAD_REF }}"
          git diff "origin/${{ env.PULL_REQUEST_BASE_REF }}" > "diff.txt"
          {
            echo "pull_request_diff<<EOF";
            cat "diff.txt";
            echo 'EOF';
          } >> $GITHUB_OUTPUT
      - uses: rubensflinco/gemini-code-review-action@1.0.5
        name: 'Code Review by Gemini AI'
        id: review
        with:
          gemini_api_key: 'AIzaSyDGNi3g-hVnv8_fxUhRhlkxASALwxGwtXs'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_repository: ${{ github.repository }}
          github_pull_request_number: ${{ github.event.pull_request.number }}
          git_commit_hash: ${{ github.event.pull_request.head.sha }}
          model: 'gemini-1.5-flash'
          pull_request_diff: |-
            ${{ steps.get_diff.outputs.pull_request_diff }}
          pull_request_chunk_size: '3500'
          extra_prompt: |-
            Always respond in English
            Generate a pull request summary in the following format:

            # Description

            [Provide a summary of the changes and which issue is fixed. Include relevant motivation and context.]

            Fixes # (issue)

            ## Type of change

            - [ ] Bug fix (non-breaking change which fixes an issue)
            - [ ] New feature (non-breaking change which adds functionality)
            - [ ] Breaking change (fix or feature that would cause existing functionality to not work as expected)
            - [ ] This change requires a documentation update
            - [ ] 'NPM run build' was successful
            - [ ] Other

            [Add any additional comments or context about the pull request here.]
          log_level: 'DEBUG'
